:root {
  --dark-color: #1d1716;
  --medium-color: #402a23;
  --accent-color: #a55233;
  --light-color: #f3bc77;

  /* --dark-color: #5d3f51;
  --medium-color: #6438a3;
  --accent-color: #979a95;
  --light-color: #1dc176; */

  /* --dark-color: #734444;
  --medium-color: #c37857;
  --accent-color: #99b27f;
  --light-color: #eeedbe; */

  /* --dark-color: #d75a4a;
  --medium-color: #cbb292;
  --accent-color: #f0c419;
  --light-color: #fbd490; */

  font-family: "Source Code Pro", monospace, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  background-color: var(--dark-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: var (--dark-color);
  background-image: "/assets/bedge-grunge.png";
  background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
  min-width: 320px;
  justify-content: center;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--medium-color);
  box-shadow: 0 0 10px var(--accent-color);
}

h1 {
  color: var(--light-color);
  text-align: center;
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  color: var(--light-color);
}

.input-group {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-bottom: 20px;
  color: var(--light-color);
}

label {
  display: block;
  margin-bottom: 5px;
}

.left-sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 20px;
}

input[type="number"],
input[type="text"] {
  width: 40%;
  padding: 4px;
  border: solid 2px var(--accent-color);
  border-radius: 8px;
  color: var(--light-color);
  background-color: var(--dark-color);
}

button {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 10px 20px;
  border: solid 2px var(--accent-color);
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Source Code Pro", monospace, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
}

button:hover {
  background-color: var(--accent-color);
}

button:hover {
  border-color: var(--light-color);
}

button:focus,
button:focus-visible {
  outline: 1rem auto -webkit-focus-ring-color;
}

.slider {
  appearance: none;
  width: 100%;
  height: 1rem;
  border-radius: 5px;
  background: var(--dark-color);
  outline: solid 2px var(--accent-color);
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.drum-pattern {
  display: flex;
  margin-top: 20px;
  align-items: center;
  flex-direction: column;
}

.pattern {
  display: flex;
  font-size: 24px;
  letter-spacing: 5px;
  background-color: var(--dark-color);
  padding: 6px;
  border: solid 2px var(--accent-color);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  color: #f3bc77;
  min-width: 100%;
}

.highlight {
  font-weight: bolder;
}

.symbol-key {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.symbol span {
  justify-content: space-between;
  margin-top: 10px;
  flex-direction: row;
}

.symbol-name {
  color: var(--light-color);
  font-size: large;
  font-weight: bolder;
}

.symbol-description {
  color: var(--light-color);
}

.generate-pattern-button {
  display: flex;
  justify-content: center;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.randomize-theme-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sign-up-form {
  margin-top: 40px;
}

form {
  display: flex;
  flex-direction: column;
}

form button {
  align-self: flex-center;
  margin-top: 10px;
}

a {
  font-weight: 500;
  color: var(--light-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--medium-color);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--light-color);
    background-color: var(--dark-color);
  }
  a:hover {
    color: var(--accent-color);
  }
  button {
    background-color: var(--medium-color);
  }
}
